.productInfo{
    width: 100%;
}

.productInfo h2{
    font-family: "Integral CF Regular";
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.productInfo .rating{
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 13px;
    margin-top: 14px;
}

.rating p{
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    padding-bottom: 12px;
}

.productInfo h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-top: 14px;
}

.productInfo p{
    font-size: 16px;
    line-height: 22px;
    color: #00000099;
    margin-top: 20px;
    
}